body {
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}



.container {
    background-color:beige;
    padding: 10px 50px;
    border-radius: 5px;
    text-align: center;
}



.currency-container {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}



.currency-container select {
    padding: 5px;
}



.currency-container input {
    border: 0;
    background: transparent;
    font-size: 15px;
    text-align: right;
}



.exchange-rate {
    font-size: 15px;
    font-weight: 500;
}



select:focus, input:focus {
    outline: 0;
}



